<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Applications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Frameworks &amp; Plugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>Frameworks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Plugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>osgEarth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>osgEarthFeatures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>osgEarthSymbology.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>osgEarthUtil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>osgEarth_Apps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>osgEarth_Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>osgEarth_contour.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>osgEarth_elevation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>osgEarth_fadelayers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>osgEarth_features.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>osgEarth_seed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>osgEarth_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>osgEarth_symbology.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>osgdb_earth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>osgdb_osgEarth_model_feature_stencil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>osgdb_osgEarth_tms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>osgdb_osgearth_agglite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>osgdb_osgearth_arcgis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>osgdb_osgearth_engine_osgterrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>osgdb_osgearth_feature_ogr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>osgdb_osgearth_gdal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>osgdb_osgearth_model_feature_geom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>osgdb_osgearth_model_feature_label.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>osgdb_osgearth_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>osgdb_osgearth_tileservice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>osgdb_osgearth_wms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>osgdb_osgearth_yahoo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A09E72E117AEB4D00637C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A09E7B3117AFDC000637C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A09E7E2117AFE7400637C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A09E9CF117B58B900637C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1FA5EB1158199D006DA454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A3CAE2C11551007007548D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A5095CA1179152000B53C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A509A231179177A00B53C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A68301110CBA5D2002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6833BE10CBDE4F002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A68346210CBE1EF002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6834DC10CBE843002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6835EF10CBEE8A002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6836C910CBFBD1002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6837EF10CC0E97002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6837F410CC0EBA002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A68380B10CC0F27002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A912DCA1440A2FD002257DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA323CE114D96130051A734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA327B3114D9A080051A734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA3280D114D9B150051A734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA32814114D9B470051A734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA74598114EA6DA00C45A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AAAF502142F9726009B4E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACDED5411820AC30019F9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AE857DB114BEC01004B8E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFDC311114ECA080080B92E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFDC692114ECD210080B92E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFDC7A8114ED1750080B92E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D07F2BC0486CC7A007CD1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
