[submodule "src/third_party/lerc"]
	path = src/third_party/lerc
	url = https://github.com/Esri/lerc.git
[submodule "src/third_party/rapidjson"]
	path = src/third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
