<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>osgEarthFeatures_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A09E9CF117B58B900637C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1FA5EB1158199D006DA454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29EB6E143612CE005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29EBFC1437A2AF005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29EC141437A901005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29EC23143822C3005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29EC3A14382926005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29EC8014382B67005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29EC9114382C62005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ECA414397DB6005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ECBB143984EC005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ECD114398732005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ECE3143987D4005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ECF51439890B005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ED0714398A11005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ED3414398F34005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A29ED451439953D005E0237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A2EDA2E14359E6B00E2E270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A2EDAC11435FECF00E2E270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A3CAE2C11551007007548D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A5095CA1179152000B53C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A646A9D143CE0A6007B84BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6837F410CC0EBA002F3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A781B14143BAEC000AD1BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA3280D114D9B150051A734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA32814114D9B470051A734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AAAF698142FA0E8009B4E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AAAF6AF142FA170009B4E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACDED5411820AC30019F9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFDC311114ECA080080B92E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
